<div class="view">
  <div class="layout layout--row">
    <div class="column">
      <table class="table table--condensed" id="dispatch-table">
        <thead>
          <tr>
            <th>
              <span class="label">Incident</span></th>
            <th>
              <span class="label">Reported</span></th>
            <th>
              <span class="label">Zip Code</span></th>
            <th style="width: 50%">
              <span class="label">Units Dispatched</span></th>
          </tr>
        </thead>
        <tbody id="dispatch-tbody">
          <tr>
            <td colspan="5" class="text--center">Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="title_bar">
    <img class="image" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-dashboard/refs/heads/main/nfd-incidents/assets/nfd.png" width="28" height="28">
    <span class="title">Nashville Fire Department Active incidents</span>
    <span class="instance">data.nashville.gov</span>
  </div>
</div>

{% render "table_javascript" count: 12, size: "wide", trmnl: trmnl %}

<script>
  const data = {
    features: {{ features | json }}
  };
  loadDispatches();
</script>
