<div class="layout layout--column layout--top">
  <div class="column w--full">
    <table class="table table--condensed" data-table-limit="true">
      <thead>
        <tr>
          <th>
            <span class="title title--small lg:title--base">Incident</span></th>
          <th>
            <span class="title title--small lg:title--base">Reported</span></th>
          <th>
            <span class="title title--small lg:title--base">Zip</span></th>
          <th>
            <span class="title title--small lg:title--base">Units</span></th>
        </tr>
      </thead>
      <tbody>
        {% render "table_rows" size: "narrow", features: features, condensed_incidents: condensed_incidents, trmnl: trmnl %}
      </tbody>
    </table>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-nfd-incidents/refs/heads/main/assets/nfd.png" width="28" height="28">
  <span class="title">Nashville Fire Dept. Active Incidents</span>
</div>



