<div class="view">
  <div class="layout layout--row">
    <div class="column">
      <table class="table table--condensed" id="dispatch-table" style="width:100%">
        <thead>
          <tr>
            <th>
              <span class="label">Incident</span></th>
            <th>
              <span class="label">Reported</span></th>
            <th>
              <span class="label">Zip Code</span></th>
          </tr>
        </thead>
        <tbody id="dispatch-tbody">
          <tr>
            <td colspan="5" class="text--center">Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% render "table_javascript" count: 13, size: "narrow", trmnl: trmnl %}

<script>
  const data = {
    features: {{ features | json }}
  };
  loadDispatches();
</script>


