<div class="layout layout--row layout--top">
  <div class="column">
    <table class="table table--condensed" id="dispatch-table" style="width:100%">
      <thead>
        <tr>
          <th>
            <span class="title title--small">Incident</span></th>
          <th>
            <span class="title title--small">Reported</span></th>
          <th>
            <span class="title title--small">Zip</span></th>
          <th>
            <span class="title title--small">Units</span></th>
        </tr>
      </thead>
      <tbody id="dispatch-tbody">
        <tr>
          <td colspan="5" class="text--center">Loading...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-nfd-incidents/refs/heads/main/assets/nfd.png" width="28" height="28">
  <span class="title">Nashville Fire Dept. Active Incidents</span>
</div>


{% render "table_javascript" count: 5, size: "narrow", trmnl: trmnl %}

<script>
  const data = {
    features: {{ features | json }}
  };
  loadDispatches();
</script>


